/* HERO */
.about-hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 140px 8%;
  background: linear-gradient(135deg, #7a0000, #5c1212);
  color: #ffffff;
}

.hero-text h1 {
  font-size: 64px;
}

.hero-text span {
  color: #e7a75a;
}

.hero-btn {
  padding: 16px 44px;
  background: #e7a75a;
  color: #7a0000;
  border-radius: 40px;
  text-decoration: none;
  font-weight: bold;
}

.hero-image img {
  width: 520px;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* BİZ KİMİZ */
.projects-modern {
  padding: 140px 8%;
  background: #000;
  text-align: center;
}

.projects-header h1 {
  color: #7a0000;
  font-size: 52px;
}

.projects-header p {
  background: #e7a75a;
  padding: 25px;
  border-radius: 15px;
}

/* TIMELINE */
.about-section {
  max-width: 1200px;
  margin: 140px auto;
}

.about-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.about-item.right {
  flex-direction: row-reverse;
}

.about-box {
  width: 260px;
  height: 300px;
  background: #7a0000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text {
  max-width: 500px;
  font-size: 20px;
  color: #7a0000;
}

/* WHY */
.why-us-section {
  padding: 140px 8%;
  background: #a57272;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
}

.why-card {
  background: #581c1c;
  padding: 45px;
  border-radius: 24px;
  text-align: center;
  color: white;
}

/* FOOTER */
.footer {
  padding: 30px;
  text-align: center;
}

/* MOBİL */
@media (max-width: 768px) {
  .about-hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    width: 100%;
  }

  .about-item {
    flex-direction: column;
    gap: 30px;
  }
}
