
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background:
    radial-gradient(circle at top left, #e7a75a30, transparent),
    linear-gradient(135deg, #050505, #1a0000);
  color: #fff;
  overflow-x: hidden;
}


nav ul.menu {
  list-style: none;
  padding: 0px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  gap: 0px;
}

nav ul.menu li a {
  padding: 12px 24px;
  background: #010101;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav ul.menu li a.active {
  background: #060606;
}
