
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #9b1616;
}

nav ul.menu {
  list-style: none;
  padding: 0px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  gap: 0px;
}

nav ul.menu li a {
  padding: 12px 24px;
  background: #ffffff;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav ul.menu li a.active {
  background: #ffffff;
}
