body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #004d40;
    color: #ffffff;
}

/* --- HEADER & NAVİGASYON ÇUBUĞU DÜZENİ --- */
header {
    background-color: #004d40;
    padding: 10px 0; 
}

.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

/* --- LOGO AYARLARI (MENÜ ÇUBUĞUNDAKİ KÜÇÜK LOGO) --- */
.site-logo {
    height: 40px; 
    width: auto; 
    margin-right: 25px; 
}

/* --- MENÜ LİSTESİ (UL & LI & A) AYARLARI --- */
.navbar ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
}

.navbar li {
    margin-left: 20px; 
}

.navbar a {
    display: block;
    color: rgb(245, 245, 245);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ffcc00; 
    color: #004d40; 
}

/* --- ANA İÇERİK (MAIN) STİLLERİ --- */
main {
    padding-top: 50px; 
}

.project-image img {
    display: block; 
    max-width: 300px; 
    height: auto;
    margin: 0 auto; 
}

.project-description h2 {
    text-align: center;
    color: #ffcc00; 
    margin-top: 30px;
}