body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #700202;
    color: #700202;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #700202;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {

    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



nav ul li a:hover {
    background-color: #eeab5d;
    color: #700202;

}





header {
    background-color: #700202;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #ccc;
}



header h1 {
    color: #004d40;
    margin-bottom: 5px;

}



.project-image img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;

}



.project-description h2 {
    text-align: center;
    color: #fcfcfc;
}

