body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #004d40;
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #004d40; 
    text-align: center; 
}


nav ul li {
    display: inline-block; 
}


nav ul li a {
    display: block;
    color: rgb(245, 245, 245);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ffcc00; 
    color: #f2f0f0; 
}


header {
    background-color: #ffffff;
    padding: 30px 0;
    text-align: center; 
    border-bottom: 2px solid #ccc;
}

header h1 {
    color: #004d40; 
    margin-bottom: 5px;
}

.project-image img {
    display: block; 
    max-width: 100%;
    height: auto;
    margin: 0 auto; 
}

.project-description h2 {
    text-align: center;


}
